<launch>
	
    <rosparam command="load" file="$(find planning_image_drawing)/config/settings.yaml" />
    <rosparam command="load" file="$(find planning_image_drawing)/config/camera_params.yaml" />

    # launch-prefix="gdb -ex run --args"
    <node pkg="planning_image_drawing" type="process_node" name="process_node" output="screen" launch-prefix="gdb -ex run --args"/>
    <node pkg="pyqt_ros_example" type="main_node.py" name="main_node" output="screen" launch-prefix="xterm -e python -m pdb"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

</launch>