<launch>
	
    <rosparam command="load" file="$(find planning_image_drawing)/config/settings.yaml" />
    <rosparam command="load" file="$(find planning_image_drawing)/config/camera_params.yaml" />

    <node pkg="planning_image_drawing" type="process_node" name="process_node" output="screen"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

</launch>
